server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/test"
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signing-key: 53ea7935b051f3231b6b8922c8f1c0bb5b98d86b6766de48c1893de508aeac31
